<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tony Stark</key>
	<array>
		<string>Tony</string>
		<string>Stark</string>
	</array>
	<key>Hulk Hogan</key>
	<array>
		<string>Hulk</string>
		<string>Hogan</string>
	</array>
	<key>Peter Parker</key>
	<array>
		<string>Peter</string>
		<string>Parker</string>
	</array>
	<key>Michael Robinson</key>
	<array>
		<string>Michael</string>
		<string>Robinson</string>
	</array>
	<key>Maung San</key>
	<array>
		<string>Maung</string>
		<string>San</string>
	</array>
	<key>Patricia McDermott-Wells</key>
	<array>
		<string>Patricia</string>
		<string>McDermott-Wells</string>
	</array>
	<key>Bruce Wayne</key>
	<array>
		<string>Bruce</string>
		<string>Wayne</string>
	</array>
	<key>Clark Kent</key>
	<array>
		<string>Clark</string>
		<string>Kent</string>
	</array>
	<key>Robert Conway</key>
	<array>
		<string>Robert</string>
		<string>Conway</string>
	</array>
	<key>Steven Luis</key>
	<array>
		<string>Steven</string>
		<string>Luis</string>
	</array>
</dict>
</plist>
